body {
    background-image: linear-gradient(to bottom right, #61dafb, #fc56ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: cursive;
    color: white;
}

.headerContainer{
    margin-bottom: 25px
}

.endOfPageMsg{
    margin-top: 20px;
    margin-bottom: 20px;

}


.loader{
    flex: flex-wrap;
    justify-content: center;
    margin-left: 50%;
}

.flex-container {
    justify-content: center;
    border-radius: 10px;
    border-top: solid;
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
    
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  

  .flex-item {
    border-radius: 15px;
    width: 280px;
    height: 280px;
    padding: 5px;
    margin: 10px;
    line-height: 100px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }


  @media (max-width: 677px){
    .flex-item {
        width: 150px;
        height: 150px;
    }
}
